body{
  font-family: sans-serif;
  background: #f7f9fa;
}

.post{
  background-color: #fff;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.headerPost{
  display: flex;
}

.headerPost div{
  display: flex;
  flex-direction: column;
}

.comment-list{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.allComments{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.headerPost img{
  width: 3.5rem;
  height: 3.5rem;
}

.headerPost div{
  display: flex;
  margin-left: 0.5rem;
  text-align: center;
}

.h6{
  margin: 0%;
  text-decoration: none;
  color: rgb(69, 69, 85);
}
.h62{
  margin: 0%;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.emos{
  display: flex;
  gap: 2rem;
}

.emos div{
  display: flex;
  gap: 0.5rem;
}

.emos div button{
  background-color: rgba(255, 255, 255, 0);
  border: 0rem;
}

body{
  font-family: sans-serif;
}

.split{
  display: flex;
  justify-content: space-around;
}

.A-S div{
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 1rem;
}

.A-S{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 1rem;
}

.follow{
  display: flex;
  justify-content: space-around;
}

.numFollow, .nameFollow, .vl{
  margin-left: 0rem;
  margin-right: 0rem;
}

.numFollow{
  margin-bottom: 0.5rem;
}

.vl{
  border-style: dashed;
  margin: 1rem;
  margin-left: 0rem;
  margin-right: 0rem;
  color: #6373814d;
}

.nameFollow{
  margin-top: 0.5rem;
  color: #637381c8;
}

.social div{
  display: flex;
  gap: 0.5rem;
}

.comment img{
  width: 3.5rem;
  height: 3.5rem;
}

.stableImg{
  width: 730px;
  height: auto;
}

.comments{
  display: flex;
  align-items: center;
  gap: 10px;
}

.content div{
  width: 40rem;
  display: flex;
  justify-content: space-between;
}

.post-list{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

h4{
  margin-top: 0;
}

.content{
  width: Fill (590.66px);
  height: Fill (72px);
  padding: 12px;
  border-radius: 8px;
  gap: 4px;
  background: #F4F6F8;
}

button, .inputButton{
  border: 0rem;
  background-color: rgba(0, 0, 0, 0.731);
  color: #fff;
  border-radius: 0.5rem;
  width: auto;
  height: 2rem;
  padding: 0.5rem;
  text-align: center;
}

button{
  border-bottom: 1rem;
}

.postInput{
  width: 45rem;
  height: 5rem;
  border: 1px solid #919EAB33;
  border-radius: 1rem;
}

.formPost{
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.formPost div{
  width: 40rem;
  display: flex;
  justify-content: space-between;
}

label input{
  width: 590.66px;
  height: 40px;
  padding: 5.44px, 1px, 5.43px, 13px;
  border-radius: 8px;
  border: 1px;
  border: 1px solid #919EAB52
}

.commentForm{
  display: flex;
  gap: 0.5rem;
}

.commentForm button{
  height: auto;
}

header{
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: 1rem 1rem 1rem 1rem 1rem 10rem 10rem 10rem 5.5rem 10rem 1rem 1rem 1rem;
  grid-template-rows: 10rem 7rem 4rem 1rem 1rem;
}

.headerImg{
  border-radius: 1rem;
  grid-row: 1;
}

.headerAvatar{
  height: 10rem;
  width: 10rem;
  z-index: 2;
}

.AvaNameJob{
  grid-row: 2;
  grid-column: 3 / 10;
  display: flex;
  gap: 2rem;
}

.AvaNameJob div{
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.AvaNameJob div h2{
  margin-bottom: 0;
}

.bottomBar{
  color: rgba(0, 0, 0, 0.49);
  background: #FFFFFF;
  width: 63.9rem;
  height: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  grid-row: 3;
  grid-column: 1;
  display: flex;
  gap: 1rem;
  justify-content: end;
  align-items: center;
}

.bottomBar div{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
